language: node_js
node_js:
  - "node"
cache:
  directories:
    - "node_modules"
script: npm test
before_deploy: npm install now --no-save
deploy:
  - provider: script
    script: now --public --token $NOW_TOKEN
    skip_cleanup: true
    on:
      all_branches: true
      master: false
  - provider: script
    script: now --public --token $NOW_TOKEN && now alias --token $NOW_TOKEN
    skip_cleanup: true
    on:
      master: true
